MONGO_DB_URL=
DATABASE=
COLLECTION=


DATASET_FILE_PATH=

#airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__API__SECRET_KEY=

#mlflow
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_REGISTERED_MODEL_NAME=

#postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=