.csv
Datasets
.claude

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment files
.env

# IDE
.idea/
.vscode/
# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# Test / cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Artifacts
Artifacts/
final_model/
production_model/

# Airflow / MLflow local files if needed
logs/
mlruns/
simple_auth_manager_passwords.json
